@model Fitbit.Models.TimeSeriesDataList

@{
    ViewBag.Title = "LastYearBMIFat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Last Year BMI Fat</h2>

<table>
    <tr>
        <th>DateTime</th>
        <th>Value</th>
    </tr>
@foreach (Fitbit.Models.WeightLog log in Model.Weights)
{ 
    <tr>
        <td>@log.DateTime</td>
        <td>@log.Bmi</td>
        <td>@log.Weight</td>
        <td>@log.LogId</td>
    </tr>
}
</table>